.gallery_container img {
    width: 100%;
    height: auto;
    outline: 1.5px solid var(--acent-clr);
    object-fit: cover;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-in-out;
    /* border-radius: 50px; */
}

.gallery_container img:hover {
    transform: scale(1.05, 1.05)
}

@media (min-width: 700px) {
    .gallery_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }

    .gallery_container img {
        width: 100%;
        height: 400px;
        border: 1px solid var(--acent-clr);
        object-fit: cover;
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    .gallery_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .gallery_container img {
        width: 100%;
        height: 300px;
        border: 1px solid var(--acent-clr);
        object-fit: cover;
    }
}