/* .nalanda_villa_container {
    height: 100vh;
    background-image: url('../img/index/3.webp');
    background-repeat: no-repeat;
    background-size: cover;
} */


.nalanda_villa_container img {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .nalanda_villa_container img {
        width: 100%;
        height: calc(90vh - 80px);
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
}

.nalanda_villa {
    max-width: 1440px;
    margin: 0 auto;
}