/* .pilgrimage_tour_container {
    height: 100vh;
    background-image: url('../img/index/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */

.pilgrimage_tour_container img {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .pilgrimage_tour_container img {
        width: 100%;
        height: calc(90vh - 80px);
        aspect-ratio: 20 / 1;
        object-fit: cover;
    }
}

.pilgrimage_tour {
    max-width: 1440px;
    margin: 0 auto;
}