

.teaching_container img {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .teaching_container img {
        width: 100%;
        height: calc(90vh - 80px);
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
}

.teaching_container h2 {
    color: var(--primary-bg)
}

.teaching {
    max-width: 1440px;
    margin: 0 auto;
}

.teaching_content ul li {
    list-style: decimal;
    margin-bottom: 1rem;
}



