/* ====================  fonts  ================================ */
/* connecting fonts from the assets */
@font-face {
    font-family: 'font_1';
    src: url(/woff2/Lato-Bold.woff2) format('woff2'),
        url(/woff/Lato-Bold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'font_2';
    src: url(/woff2/lato.medium.woff2) format('woff2'),
        url(/woff/lato.medium.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'font_3';
    src: url(/woff2/Lato-Regular.woff2) format('woff2'),
        url(/woff/Lato-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'font_4';
    src: url(/woff2/LEMONMILK-Regular.woff2) format('woff2'),
        url(/woff/LEMONMILK-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'font_5';
    src: url(/woff2/LEMONMILK-Medium.woff2) format('woff2'),
        url(/woff/LEMONMILK-Medium.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'font_6';
    src: url(/woff2/MYRIADPRO-REGULAR.woff2) format('woff2'),
        url(/woff/MYRIADPRO-REGULAR.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'font_7';
    src: url(/woff2/RamusRegular.woff2) format('woff2'),
        url(/woff/RamusRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ==============  variables  =================================== */
/* variables for easier use of colors and fonts */
:root {
    /* colors */
    --primary-bg: #fdf8e8;
    --nav-bg: #f3cc98;
    --acent-clr: #62191a;
    --primary-txt: #62191a;
    --seconday-bg: #fae9cd;
    --article-bg: #f6e7ca;

    /* fonts */
    --lato-bold: 'font_1';
    --lato-medium: 'font_2';
    --lato-regular: 'font_3';
    --lemon-milk-regular: 'font_4';
    --lemon-milk-medium: 'font_5';
    --myriad-pro: 'font_6';
    --ramus-regular: 'font_7';
}

/* ==================  nav  ================================== */
nav {
    background-color: var(--nav-bg);
}
.nav_container {
    display: flex;
    align-items: center;

    justify-content: space-between;
}
nav svg {
    fill: var(--acent-clr);
}
nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    transition: 0.2s ease-in-out;
    border-radius: 999px;
}
nav button:hover {
    background-color: var(--primary-bg)
}
nav button:active {
    outline: 2px solid var(--acent-clr);
}
#active_nav_link {
    color: var(--primary-bg);
    background-color: var(--acent-clr);
    padding: 0.5rem 1rem;
}
.nav_title {
    font-family: var(--ramus-regular), system-ui, sans-serif;
    font-size: clamp(1.8rem, 3vw, 2rem);
}
.nav_menu {
    display: none;
}
.hamburger_btn {
    z-index: 1001;
}

@media(min-width: 768px) {
    
    .nav_title {
        display: none
    }
    nav {
        display: flex;
        background-color: var(--nav-bg);
        width: 100%;
    }

    .nav_menu {
        display: flex;
        flex-direction: row;
        padding: 0.5rem 0;
        gap: clamp(1.5rem, 3vw, 3rem);
    }
    .nav_menu li a {
        font-family: var(--lato-regular), system-ui, sans-serif;
        color: var(--acent-clr);
        padding: 0.5rem 1rem;
        border-radius: 999px;
        transition: 0.2s ease-in-out;
        outline: none;
    }

    #active_nav_link {
        color: var(--primary-bg);
        background-color: var(--acent-clr);
        padding: 0.5rem 1rem;
    }

    .nav_menu li a:hover {
        color: var(--primary-bg);
        background-color: var(--acent-clr);
        padding: 0.5rem 1rem;
    }

    .nav_menu li a:active {
        opacity: 0.7;
    }

    .hamburger_btn {
        display: none;
    }
}

/* ============  header  ===================================== */
header, .header_top {
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    padding: 0.5rem 0;
    background-color: var(--primary-bg);
}
.header_top {
    gap: 1rem;
}
.header_title {
    display: none;
    font-family: var(--ramus-regular), system-ui, sans-serif;
    font-size: clamp(2rem, 4vw, 3rem);
}
@media (min-width: 768px) {
    .header_title {
        display: flex;
    }
}

/* ==========  hero  ================================ */
.hero {
    max-width: 1440px;
    margin: 0 auto;
}
.swiper-wrapper {
    cursor: grab;
}

.swiper-wrapper img{
    width: 100%;
    height: 100%;
}
.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

@media (min-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: block !important;
    }
}

.swiper-button-prev,
.swiper-button-next {
    height: 70px !important;
    padding: 0.9rem !important;
    background-color: var(--primary-bg);
    color: var(--acent-clr) !important;
    opacity: 0.7 !important;
    top: 50%; 
    transform: translateY(-50%);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1rem !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: var(--accent-clr);
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

@media (min-width: 768px) {
    .swiper-pagination {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 5px;
    }
}

.swiper-pagination-bullet {
    width: 12px !important ;
    height: 12px !important;
    background-color: var(--primary-bg) !important;
    opacity: 0.9 !important; 
    cursor: pointer;
    outline: none;
}

@media(min-width: 768px) {
    .swiper-pagination-bullet {
        width: 20px !important ;
        height: 20px !important;
    }
}

.swiper-pagination-bullet-active {
    background-color: var(--acent-clr) !important;
}

/* ===================  about  =============================*/
.about {
    padding: 1rem 0;
}

fieldset {
    text-align: center;
    padding: clamp(2rem, 4vw, 3rem);
    border-radius: clamp(3rem, 4vw, 5rem);
    border: 2px solid var(--acent-clr);
}
legend {
    font-family: var(--lato-bold), system-ui, sans-serif;
    padding: 0 1rem;
}

/* projects */
.projects h2 {
    background-color: var(--acent-clr);
    color: var(--primary-bg);
    text-align: center;
    padding: 1rem;
    font-family: var(--lato-bold), system-ui, sans-serif;
}
.proiects_container {
    display: flex;

    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}
.article_container {
    display: flex;
    
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 3rem;
}
.article_right  {
    background-color: var(--article-bg);
}
.proiects_container  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.proiects_container .content h3 {
    font-family: var(--lato-bold), system-ui, sans-serif;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img {
    border-radius: clamp(2rem, 3vw, 3rem);
    border: 1.5px solid var(--acent-clr);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    height: 100%;
    width: 100%;
    max-width: 700px;
}
.image img:hover {
    transform: scale(1.05, 1.05);
}
.proiects_container .content .project_btn {
    border-radius: 999px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    font-family: inherit, system-ui, sans-serif;
    color: inherit;
    font-size: clamp(0.9rem, 3vw, 1rem);
    border: 1px solid var(--acent-clr);
}
.project_btn_right {
    background-color: var(--primary-bg);
    transition: 0.2s ease-in-out;
}
.project_btn_reverse {
    background-color: var(--article-bg);
    transition: 0.2s ease-in-out;
}
.project_btn_right:hover, .project_btn_reverse:hover {
    transform: scale(1.05, 1.05)
}
.project_btn_right:active, .project_btn_reverse:active {
    opacity: 0.8;
}
.proiects_container .content .project_btn svg {
    fill: var(--acent-clr);
    font-size: inherit;
    font-size: clamp(0.9rem, 3vw, 1rem);
}
@media (min-width:768px) {
    article .article_container{
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        padding: 2rem;
    }
    .proiects_container .content {
        align-items: flex-start;
    }

    .article_right .content {
        padding-left: 1rem;
    }
    .article_right .article_container {
        display: flex;
        gap: 1rem;
    }
    .article_reverse .article_container {
        display: flex;
        flex-direction: row-reverse;
    }
    article div{
        flex: 1;
    }
}

/* footer */
footer {
    background-color: var(--acent-clr);
    color: var(--primary-bg);
    padding: 1rem 0;
}
.footer_container {
    display: flex; 
    align-items: center;

    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
.footer_top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer_container h2{
    font-family: var(--ramus-regular), system-ui, sans-serif;
}
hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: var(--primary-bg);
    border-radius: 999px;
}
.footer_bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer_bottom_top address p a {
    color: var(--primary-bg);
    transition: 0.2s ease-in-out;
}
.footer_bottom_top address p a:hover {
    text-decoration: underline;
}
.footer_bottom_top address p a:active {
    opacity: 0.8;
}
.footer_bottom_top, .footer_bottom_bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.social-media-links ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.social-media-links ul li {
    background-color: var(--primary-bg);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.social-media-links ul li:hover {
    transform: translateY(-5px);
}
.social-media-links ul li:active {
    opacity: 0.8;
}
.social-media-links ul li, .social-media-links ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
}
address {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
footer address p {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-style: normal;
}
footer address svg {
    fill: var(--primary-bg);
}
.social-media-links ul li a svg { 
    fill: var(--acent-clr);
}
@media (min-width: 768px) {
    .footer_container {
        flex-direction: row;
        align-items: flex-start;
        text-align: justify;
    }
    .footer_top, .footer_bottom {
        flex: 1;
    }
    hr {
        width: 1px;
        height: 100%;
        border: none;
        background-color: var(--primary-bg);
    }
    .social-media-links ul {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        justify-content: flex-start;
    }
    address {
        align-items: flex-start;
    }
    .footer_bottom {
        padding-left: 100px;
    }
}


/*================ js used css =========== */

/* nav popup */
.nav_popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-bg);
    color: var(--acent-clr);
    z-index: 999;
    transition: 0.3s ease-in-out;
}
.nav_popup_lists {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
}
.active {
    display: flex !important;
}


/* scroll lock unlock */
.no-scroll {
    overflow: hidden
}

/* sticky nav */
header {
    height: 100px;
}
.nav_wrapper {
    height: 70px;
}
nav {
    position: relative;
    height: 70px;
}
.nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
@media (min-width: 768px) {
    .nav_wrapper {
        height: 80px;
    }
    nav {
        height: 80px;
    }
}