/* ====================  fonts  ================================ */
/* connecting fonts from the assets */
@font-face {
    font-family: 'font_1';
    src: url(fonts/woff2/Lato-Bold.woff2) format('woff2'),
        url(fonts/woff2/Lato-Bold.woff2) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'font_2';
    src: url(./lato.medium.woff2) format('woff2'),
        url(./fonts/woff/lato.medium.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'font_3';
    src: url(./fonts/woff2/Lato-Regular.woff2) format('woff2'),
        url(./fonts/woff/Lato-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'font_4';
    src: url(./fonts/woff2/LEMONMILK-Regular.woff2) format('woff2'),
        url(./fonts/woff/LEMONMILK-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'font_5';
    src: url(./fonts/woff2/LEMONMILK-Medium.woff2) format('woff2'),
        url(./fonts/woff/LEMONMILK-Medium.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'font_6';
    src: url(./fonts/woff2/MYRIADPRO-REGULAR.woff2) format('woff2'),
        url(./fonts/woff/MYRIADPRO-REGULAR.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'font_7';
    src: url(./RamusRegular.woff2) format('woff2'),
        url(/fonts/woff/RamusRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ============  defaults  ================================= */
/* defaults that is needed for the webiste to work plz don't touch this. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body, html {
    height: 100%;
    font-family: var(--lato-medium), system-ui, sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: var(--primary-bg);
    color: var(--acent-clr);
}
.descriptive_link_text {
    display: none;
}
main {
    min-height: 100%;
}
button {
    cursor: pointer;
    font-family: inherit, system-ui, sans-serif;
}
p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    line-height: 1.5;
    letter-spacing: 0px;
    margin-bottom: 1rem;
}

h1 {
    font-weight: normal;
}
h2 {
    font-size: clamp(2rem, 3vw, 3rem);
}
h3 {
    font-size: clamp(1.5rem, 3vw, 2rem);
}
svg {
    height: 30px;
    width: 30px;
}
.container {
    max-width: 1224px;
    margin: 0 auto;
    padding: 1rem;
}

/* ==============  variables  =================================== */
/* variables for easier use of colors and fonts */
:root {
    /* colors */
    --primary-bg: #fdf8e8;
    --nav-bg: #f3cc98;
    --acent-clr: #62191a;
    --primary-txt: #62191a;
    --seconday-bg: #fae9cd;
    --article-bg: #f6e7ca;

    /* fonts */
    --lato-bold: 'font_1';
    --lato-medium: 'font_2';
    --lato-regular: 'font_3';
    --lemon-milk-regular: 'font_4';
    --lemon-milk-medium: 'font_5';
    --myriad-pro: 'font_6';
    --ramus-regular: 'font_7';
}


.hr {
    width: 100%;
    border: none;
    height: 3px;
    background: var(--acent-clr);
    clip-path: polygon(
        0% 50%,
        50% 0%,
        100% 50%,
        50% 100%
    );
}


/* ==================  nav  ================================== */
nav {
    background-color: var(--nav-bg);
}
.nav_container {
    display: flex;
    align-items: center;

    justify-content: space-between;
}
nav svg {
    fill: var(--acent-clr);
}
nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    transition: 0.2s ease-in-out;
    border-radius: 999px;
    background-color: var(--primary-bg);
}

nav button:active {
    outline: 1px solid var(--acent-clr);
}
#active_nav_link {
    color: var(--primary-bg);
    background-color: var(--acent-clr);
    padding: 0.5rem 1rem;
}
.nav_title {
    font-family: var(--ramus-regular), system-ui, sans-serif;
    font-size: clamp(1.8rem, 3vw, 2rem);
}
.nav_menu {
    display: none;
}
.hamburger_btn {
    z-index: 1001;
}


@media(min-width: 900px) {
    .nav_title {
        display: none
    }
    nav {
        display: flex;
        background-color: var(--nav-bg);
        width: 100%;
    }

    .nav_menu {
        display: flex;
        flex-direction: row;
        padding: 0.5rem 0;
        gap: clamp(1.5rem, 3vw, 3rem);
    }
    .nav_menu li a {
        font-family: var(--lato-regular), system-ui, sans-serif;
        color: var(--acent-clr);
        padding: 0.5rem 1rem;
        border-radius: 999px;
        transition: 0.2s ease-in-out;
        outline: none;
    }

    #active_nav_link {
        color: var(--primary-bg);
        background-color: var(--acent-clr);
        padding: 0.5rem 1rem;
    }

    .nav_menu li a:hover {
        color: var(--primary-bg);
        background-color: var(--acent-clr);
        padding: 0.5rem 1rem;
    }

    .nav_menu li a:active {
        opacity: 0.7;
    }

    .hamburger_btn {
        display: none;
    }
}

/* ============  header  ===================================== */
header, .header_top {
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    padding: 0.5rem 0;
    background-color: var(--primary-bg);
}
.header_top {
    gap: 1rem;
}
.header_title {
    display: none;
    font-family: var(--ramus-regular), system-ui, sans-serif;
    font-size: clamp(2rem, 4vw, 3rem);
}
@media (min-width: 768px) {
    .header_title {
        display: flex;
    }
}

/* ==========  hero  ================================ */
.hero {
    max-width: 1440px;
    margin: 0 auto;
}
.swiper-wrapper {
    cursor: grab;
}

.swiper-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

@media (min-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: block !important;
    }
}

.swiper-button-prev,
.swiper-button-next {
    height: 70px !important;
    padding: 0.9rem !important;
    background-color: var(--primary-bg);
    color: var(--acent-clr) !important;
    opacity: 0.7 !important;
    top: 50%; 
    transform: translateY(-50%);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1rem !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: var(--accent-clr);
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

@media (min-width: 768px) {
    .swiper-pagination {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 5px;
    }
}

.swiper-pagination-bullet {
    width: 12px !important ;
    height: 12px !important;
    background-color: var(--primary-bg) !important;
    opacity: 0.9 !important; 
    cursor: pointer;
    outline: none;
}

@media(min-width: 768px) {
    .swiper-pagination-bullet {
        width: 20px !important ;
        height: 20px !important;
    }
}

.swiper-pagination-bullet-active {
    background-color: var(--acent-clr) !important;
}

/* ===================  about  =============================*/
.about {
    padding: 1rem 0;
}

@media (min-width: 768px) {
    .about {
        padding: 2rem 0;
    }
}

fieldset {
    text-align: center;
    padding: clamp(2rem, 4vw, 3rem);
    border-radius: clamp(3rem, 4vw, 5rem);
    border: 2px solid var(--acent-clr);
}
legend {
    font-family: var(--lato-bold), system-ui, sans-serif;
    padding: 0 1rem;
}

/* projects */
.projects h2 {
    background-color: var(--acent-clr);
    color: var(--primary-bg);
    text-align: center;
    padding: 1rem;
    font-family: var(--lato-bold), system-ui, sans-serif;
}

.projects img {
    object-fit: cover;

}
.proiects_container {
    display: flex;

    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}
.article_container {
    display: flex;
    
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 3rem;
}
.article_right  {
    background-color: var(--article-bg);
}
.proiects_container  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.proiects_container .content h3 {
    font-family: var(--lato-bold), system-ui, sans-serif;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img {
    border-radius: clamp(2rem, 3vw, 3rem);
    outline: 1.5px solid var(--acent-clr);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    height: 100%;
    width: 100%;
    max-width: 700px;
}
.image img:hover {
    transform: scale(1.05, 1.05);
}
.proiects_container .content .project_btn {
    border-radius: 999px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    font-family: inherit, system-ui, sans-serif;
    color: inherit;
    font-size: clamp(0.9rem, 3vw, 1rem);
    border: 1px solid var(--acent-clr);
}
.project_btn_right {
    background-color: var(--primary-bg);
    transition: 0.2s ease-in-out;
}
.project_btn_reverse {
    background-color: var(--article-bg);
    transition: 0.2s ease-in-out;
}
.project_btn_right:hover, .project_btn_reverse:hover {
    transform: scale(1.05, 1.05)
}
.project_btn_right:active, .project_btn_reverse:active {
    opacity: 0.8;
}
.proiects_container .content .project_btn svg {
    fill: var(--acent-clr);
    font-size: inherit;
    font-size: clamp(0.9rem, 3vw, 1rem);
}
@media (min-width:768px) {
    article .article_container{
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        padding: 4rem 2rem;
    }
    .proiects_container .content {
        align-items: flex-start;
    }

    .article_right .content {
        padding-left: 1rem;
    }
    .article_right .article_container {
        display: flex;
        gap: 1rem;
    }
    .article_reverse .article_container {
        display: flex;
        flex-direction: row-reverse;
    }
    article div{
        flex: 1;
    }
}

/* footer */
footer {
    background-color: var(--acent-clr);
    color: var(--primary-bg);
    padding: 1rem 0;

}
.footer_container {
    display: flex; 
    align-items: center;

    flex-direction: column;
    gap: 3rem;
    text-align: center;
}
.footer_top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer_container h2{
    font-family: var(--ramus-regular), system-ui, sans-serif;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer_bottom_top address p a {
    color: var(--primary-bg);
    transition: 0.2s ease-in-out;
}
.footer_bottom_top address p a:hover {
    text-decoration: underline;
}
.footer_bottom_top address p a:active {
    opacity: 0.8;
}
.footer_bottom_top, .footer_bottom_bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.social-media-links ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.social-media-links ul li {
    background-color: var(--primary-bg);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.social-media-links ul li:hover {
    transform: translateY(-5px);
}
.social-media-links ul li:active {
    opacity: 0.8;
}
.social-media-links ul li, .social-media-links ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
}
address {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
footer address p {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-style: normal;
}
footer address svg {
    fill: var(--primary-bg);
}
.social-media-links ul li a svg { 
    fill: var(--acent-clr);
}

footer .hr-mobile {
    background-color: var(--primary-bg);
    width: 100%;
}

footer .hr-desktop {
    display: none;
}

@media (min-width: 768px) {
    .footer_container {
        flex-direction: row;
        align-items: flex-start;
        text-align: justify;
        
    }
    .footer_top, .footer_bottom {
        flex: 1;
    }
    footer {
        position: relative;
    }
    
    footer .hr-mobile {
        display: none;
    }

    footer .hr-desktop {
        display: block;
        width: 6px;
        height: 400px;
        background-color: var(--primary-bg);

        clip-path: polygon(
            50% 0%,
            40% 25%,
            20% 50%,
            40% 75%,
            50% 100%,
            60% 75%,
            80% 50%,
            60% 25%
        );
    }

    .social-media-links ul {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        justify-content: flex-start;
    }
    address {
        align-items: flex-start;
    }
    .footer_bottom {
        padding-left: 50px;
    }

    .footer_top {
        padding-right: 50px;
    }
}


/*================ js used css =========== */

/* nav popup */
.nav_popup {
    /* display: none; */
    position: sticky;
    top: 180px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--seconday-bg);
    color: var(--acent-clr);
    z-index: 2000;
    transition: 0.3s ease-in-out;
    transition: 0.6s ease-in;
    box-shadow: 0px 2px 4px 0 var(--acent-clr);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}
.nav_popup_lists {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
    gap: 0.3rem;
    max-width: 500px;
    margin: 0 auto;
}

.nav_popup_lists a {
    color: var(--acent-clr);
    display: block;
    width: 100%;
    font-family: var(--lato-medium);
    transition: 0.2s ease-in-out;
    padding: 0.5rem 1rem;
    border-radius: 999px;
}

.nav_popup_lists a:hover {
    opacity: 0.8;
}

.nav_popup.active {
    opacity: 1;
    transition-duration: 0.5s; 
}


/* scroll lock unlock */
.no-scroll {
    overflow: hidden
}

/* sticky nav */
header {
    height: 100px;
}
.nav_wrapper {
    position: relative;
    height: 70px;
}
nav {
    position: relative;
    height: 70px;
    box-shadow: 0px 2px 4px 0 var(--acent-clr);
}

.nav_container {
    height: 70px;
}
.nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
@media (min-width: 768px) {
    .nav_popup {
        display: none;
    }
    .nav_wrapper {
        height: 80px;
    }
    .nav_container {
        height: 80px;
    }
    nav {
        height: 80px;
    }
}

/* pages style */

.teaching_container, .pilgrimage_tour_container, .nalanda_villa_container {
    position: relative;
}

.teaching_container h2, .pilgrimage_tour_container h2, .nalanda_villa_container h2 {
    color: var(--primary-bg);
}

.pilgrimage_tour_container p {
    color: var(--primary-bg);
}

.nalanda_villa_content, .pilgrimage_tour_content , .teaching_content {
    padding: 1rem;
    text-align: justify;
}

.teaching_content ul, .nalanda_villa_content ul {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.nalanda_villa_content ul {
    margin-left: 2rem;
}

.teaching_content ul li, .nalanda_villa_content ul li {
    list-style: decimal;
    margin-bottom: 1rem;
}

.shade {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(
        to top,
        var(--acent-clr),
        transparent
    );
    width: 100%;
    height: clamp(100px, 20vw, 400px);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1rem;
}

.pilgrimage_tour_container .shade {
    padding-bottom: 0;
}

.shade p {
    font-size: clamp(0.8rem, 2vw, 1rem);
}




/* teaching, pilgrimage tour, nalanda villa*/
.teaching_container img, .pilgrimage_tour_container img, .nalanda_villa_container img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .teaching_container img, .pilgrimage_tour_container img, .nalanda_villa_container img {
        width: 100%;
        height: calc(90vh - 80px);
        aspect-ratio: 2 / 1;
        object-fit: cover;
    }
}

.teaching_container h2 {
    color: var(--primary-bg)
}

.teaching, .pilgrimage_tour, .nalanda_villa {
    max-width: 1440px;
    margin: 0 auto;
}

.teaching_content ul li {
    list-style: decimal;
    margin-bottom: 1rem;
}

/* gallery */
.gallery_container img {
    width: 100%;
    height: auto;
    outline: 1.5px solid var(--acent-clr);
    object-fit: cover;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-in-out;
    /* border-radius: 50px; */
}

.gallery_container img:hover {
    transform: scale(1.05, 1.05)
}

@media (min-width: 700px) {
    .gallery_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }

    .gallery_container img {
        width: 100%;
        height: 400px;
        border: 1px solid var(--acent-clr);
        object-fit: cover;
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    .gallery_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .gallery_container img {
        width: 100%;
        height: 300px;
        border: 1px solid var(--acent-clr);
        object-fit: cover;
    }
}